.post {
  display: flex;
  align-items: flex-start;
  padding-inline: map-get($size, "s-16" );
  padding-block: map-get($size, "s-12" );
  cursor: pointer;
  border-bottom: 1px solid map-get($color, "border" );
  justify-content: space-between;

  .start {
    display: flex;
  }

  .left img {
    width: map-get($size, "s-48" );
    height: map-get($size, "s-48" );
    border-radius: 50%;
    object-fit: cover;
  }

  .mid {
    display: flex;
    flex-direction: column;
    margin-left: map-get($size, "s-12" );

    .user {
      display: flex;
      align-items: center;

      h4 {
        color: map-get($color, "text" );
        font-size: map-get($size, "s-16" );
        margin-right: map-get($size, "s-8" );
      }

      p {
        color: map-get($color, "gray" );
        font-size: map-get($size, "s-14" );
        
      }
    }

    .text {
      margin-top: map-get($size,"s-12" );
      p {
        color: map-get($color, "light" );

      }
    }



    .tools {
      display: flex;
      align-items: center;
      
      div {
        display: flex;
        align-items: center;
        margin-inline: map-get($size, "s-16" );

        img {
          width: map-get($size, "s-20" );
          padding: map-get($size, "s-8" );
          &:hover {
            background-color: map-get($color, "hover" );
            border-radius: 50%;
            
          }
        }

        p {
          color: map-get($color, "text" );
          font-size: map-get($size,"s-14" );
          margin-left: map-get($size, "s-8" );
        }
      }

      div:nth-child(1) {
        margin-left: 0 !important;
      }
    }
  }

  .right {
    z-index: -1;
 
  }
}