.search {
  background-color: map-get($color, "dark" );
  padding-block:3px;
  position: sticky;
  top: 0;
  z-index: 0;
}

.searchbar {
  background-color: map-get($color, "trend" ); 
  border: 1px solid map-get($color, "trend" );
  margin-block: map-get($size,"s-4" );
  margin-left: map-get($size,"s-32" );
  padding-inline: map-get($size ,"s-16" );
  padding-block: map-get($size ,"s-12" );
  border-radius: map-get($size, "s-32" );
  display: flex;
  align-items: center;
  transition: .2s;

  input {
    width: 100%;
  }
  
  &:hover {
    border: 1px solid map-get($color, "blue" );

  } 

  img {
    width: map-get($size, "s-20" );
    padding-left: map-get($size,"s-4" );
  }

  input {
    border: none;
    outline: none;
    margin-left: map-get($size, "s-12" );
    background-color: transparent; 
    color: map-get($color, "light" );
 
    &::placeholder {
      font-weight: 400;
    } 

  }

}