.topics-top {
  background-color: map-get($color,"trend" );
  margin-left: map-get($size, "s-32" );
  border-radius: map-get($size,"s-20" );
  margin-top: map-get($size, "s-16" );


  h2 {
    color: map-get($color, "text" );
    font-size:map-get($size, "s-20" );
    padding-left: map-get($size, "s-16" );
    padding-top: map-get($size, "s-12" );
    margin-bottom: map-get($size,"s-12" );
  }

  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-block: map-get($size,"s-12" );
    padding-inline: map-get($size,"s-16" );
    cursor: pointer;
    transition: .2s;
    
    &:hover {
     background-color: #2a2d32;
    }

    .text {
      p {
        color: map-get($color, "gray" );
        font-size: map-get($size, "s-12" );
        font-weight: bold;
      }

      h4 {
        color: map-get($color, "light" );
        margin-block: map-get($size, "s-2" );
      }
    }

    .more img {
      width: map-get($size, "s-20" );
    }
  }

  .show-more {
    border-bottom-left-radius: map-get($size,"s-20" );
    border-bottom-right-radius: map-get($size,"s-20" );
    cursor: pointer;
    
    p {
      margin-left: map-get($size,"s-16" );
      color: map-get($color, "blue" );
      padding-block: map-get($size, "s-16" );      
    }

    &:hover {
      background-color: #2a2d32;
     }
   
  }
}