.main {
  display: grid ;
  grid-template-columns: 2.5fr 6fr 3.5fr ;

  .feed {
    border-inline: 1px solid map-get($color, "border" );
  }
}

.main {
  max-width: 1240px;
  margin: 0 auto;
  padding-inline:map-get($size, "s-24" ) ;
}