.main {
  display: grid ;
  grid-template-columns: 2.5fr 5.5fr 4fr ;

  .sidebar {
    background-color: rgb(181, 100, 100);
  }

  .feed {
    background-color: rgb(210, 255, 180);
    border-inline: 1px solid map-get($color, "border" );

  }

  .topics {
    background-color: rgb(255, 255, 121);
    
  }
}

.main {
  max-width: 1240px;
  margin: 0 auto;
  padding-inline:map-get($size, "s-24" ) ;
}